version: 2.0

# heavily inspired by:
# https://raw.githubusercontent.com/pinax/pinax-wiki/6bd2a99ab6f702e300d708532a6d1d9aa638b9f8/.circleci/config.yml

common: &common
  working_directory: ~/repo
  steps:
    - checkout
    - run:
        name: checkout fixtures submodule
        command: git submodule update --init --recursive
    - run:
        name: merge pull request base
        command: ./.circleci/merge_pr.sh
    - run:
        name: merge pull request base (2nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - run:
        name: merge pull request base (3nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - restore_cache:
        keys:
          - cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install libsnappy-dev
        command: sudo apt install -y libsnappy-dev
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: run tox
        command: ~/.local/bin/tox
    - save_cache:
        paths:
          - .hypothesis
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
        key: cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}

geth_steps: &geth_steps
  working_directory: ~/repo
  steps:
    - checkout
    - restore_cache:
        keys:
          - cache-v2-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}-{{ checksum "./.circleci/build_geth.sh" }}
    - run:
        name: install libsnappy-dev
        command: sudo apt install -y libsnappy-dev
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: build geth if missing
        command: ./.circleci/build_geth.sh
    - run:
        name: run tox
        command: ~/.local/bin/tox -r
    - save_cache:
        paths:
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
          - ~/.ethash
          - ~/.py-geth
        key: cache-v2-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}-{{ checksum "./.circleci/build_geth.sh" }}

wheel_cli_steps: &wheel_cli_steps
  working_directory: ~/repo
  steps:
    - checkout
    - run:
        name: checkout fixtures submodule
        command: git submodule update --init --recursive
    - run:
        name: merge pull request base
        command: ./.circleci/merge_pr.sh
    - run:
        name: merge pull request base (2nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - run:
        name: merge pull request base (3nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - restore_cache:
        keys:
          - cache-v4-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}-{{ checksum "./.circleci/build_influxdb.sh" }}
    - run:
        name: install libsnappy-dev
        command: sudo apt install -y libsnappy-dev
    - run:
        name: build influxdb
        background: true
        command: ./.circleci/build_influxdb.sh
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: run tox
        command: ~/.local/bin/tox
    - save_cache:
        paths:
          - .hypothesis
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
        key: cache-v4-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}-{{ checksum "./.circleci/build_influxdb.sh" }}

jobs:
  py38-lint:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-lint
  py37-lint:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-lint
  py37-docs:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-docs

  py37-rpc-state-byzantium:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-byzantium
  py37-rpc-state-constantinople:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-constantinople
  py37-rpc-state-frontier:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-frontier
  py37-rpc-state-homestead:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-homestead
  py37-rpc-state-istanbul:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-istanbul
  py37-rpc-state-petersburg:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-petersburg

  py37-rpc-state-tangerine_whistle:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-tangerine_whistle
  py37-rpc-state-spurious_dragon:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-spurious_dragon
  py37-rpc-state-fork-transition:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-fork-transition

  py38-eth1-core:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-eth1-core
  py38-integration:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-integration
  py37-sync_integration:
    <<: *geth_steps
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-sync_integration
          GETH_VERSION: v1.10.1
  py37-long_run_integration:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-long_run_integration
  py38-p2p:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-p2p
  py38-p2p-trio:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-p2p-trio
  py38-wheel-cli:
    <<: *wheel_cli_steps
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-wheel-cli
  py38-eth1-components:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-eth1-components

  py37-rpc-state-quadratic:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-quadratic
  py37-rpc-state-sstore:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-sstore
  py37-rpc-state-zero_knowledge:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-rpc-state-zero_knowledge

  py37-eth1-core:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-eth1-core
  py37-integration:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-integration
  py37-p2p:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-p2p
  py37-p2p-trio:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-p2p-trio
  py37-wheel-cli:
    <<: *wheel_cli_steps
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-wheel-cli
  py37-eth1-components:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-eth1-components

  docker-trinity-image-build-test:
    machine: true
    steps:
      - checkout
      - run: docker build -t ethereum/trinity:test-build -f ./docker/Dockerfile .
      - run: docker run ethereum/trinity:test-build --help

workflows:
  version: 2
  test:
    jobs:
      # These tests are long, so should be started first to optimize for total suite run time
      - py38-integration
      - py37-integration
      - py38-wheel-cli
      - py37-wheel-cli
      - py37-long_run_integration
      - py37-rpc-state-sstore

      - py37-docs

      - py37-eth1-core
      - py37-p2p
      - py37-p2p-trio

      - py37-rpc-state-quadratic
      - py37-rpc-state-zero_knowledge

      - py37-rpc-state-byzantium
      - py37-rpc-state-constantinople
      - py37-rpc-state-frontier
      - py37-rpc-state-homestead
      - py37-rpc-state-istanbul
      - py37-rpc-state-petersburg
      - py37-rpc-state-spurious_dragon
      - py37-rpc-state-tangerine_whistle
      - py37-rpc-state-fork-transition

      - py38-eth1-core
      - py38-p2p
      - py38-p2p-trio
      - py38-eth1-components

      - py37-sync_integration

      - py38-lint
      - py37-lint

      - docker-trinity-image-build-test
